@charset "utf-8";

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
#wrap {
  position: relative;
}

#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgb(255, 235, 248);
  z-index: 999999;
}

#loading > div {
  margin: 10px auto;
  border: 10px solid #aeaefa;
  border-radius: 20px;
  background-color: rgb(252, 251, 255);
  width: 660px;
  margin: 0px auto;
  height: 85vh;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px #a4ddd2;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
#loading .main-text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
#loading .main-text h1 {
  animation: extrude 4s infinite step-end;
  text-align: left;
  color: #aeaefa;
  display: block;
  font-family: "DungGeunMo";
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 10px;

  text-transform: uppercase;
}

#loading h1:first-child {
  animation-delay: 1s;
}

#loading h1:nth-child(2) {
  animation-delay: 2s;
}

#loading h1:nth-child(3) {
  animation-delay: 3s;
}

#loading h1:last-child {
  animation-delay: 4s;
}

.skip-button {
  display: inline-block;
  font-family: "DungGeunMo", "맑은 고딕", "arial";
  font-size: 24px;
  padding: 20px;
  border: 3px solid #b6b6da;
  background-color: #b8b8fa;
  box-shadow: 0 10px #dcdcee;
  border-radius: 10px;
  color: #f1f1fc;
  width: fit-content;
  margin: 40px 0;
}

.skip-button:hover {
  background-color: #b1b1e9;
  color: rgb(249, 255, 227);
}

#loading p {
  font-family: "DungGeunMo", "맑은 고딕", "arial";
  font-size: 14px;
  padding: 10px 0;
  color: #ff9999;
  font-weight: bold;
}

/* 태블릿 이하 */
@media screen and (max-width: 1024px) {
  #loading > div {
    width: 80vw;
    height: 70vh;
  }
  #loading h1 {
    font-size: clamp(34px, 6vw, 55px);
  }
}

/* 모바일 이하 */
@media screen and (max-width: 700px) {
  #loading > div {
    width: 80vw;
    height: auto;
    padding: 30px;
  }
  #loading .main-text h1 {
    font-size: clamp(24px, 8vw, 34px);
    letter-spacing: 5px;
  }
  #loading p {
    font-size: 13px;
  }
  .skip-button {
    font-size: 14px;
    padding: 14px;
  }
}
