@media screen and (min-width: 1025px) {
  /* 여백 */
  section {
    padding-bottom: 100px;
  }

  header {
    height: 94vh;
  }

  .header_inner .main_title {
    width: 100%;
    height: 50vh;
  }

  .main_title .bgbox,
  .main_title .box {
    width: 50%;
    height: 520px;
  }

  .main_title .bgbox:first-child {
    top: 8%;
    left: 25%;
  }

  .main_title .bgbox:nth-child(2) {
    top: 4%;
    left: 26%;
  }

  .main_title .box {
    padding-bottom: 40px;
    top: 0%;
    left: 27%;
  }

  .main_title .box > h1 {
    font-size: 90px;
    padding: 40px;
    top: 90px;
  }

  /*메인 속 아티클 공통서식*/
  main article {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .title01 {
    font-size: 90px;
    text-shadow: 6px 6px #ffeebc;
  }

  /*프로필*/

  #profile {
    height: 1000px;
  }

  main article,
  #profile > ul,
  #skill,
  #project ul,
  #design,
  #contact {
    width: 1200px;
    margin: 0 auto;
  }

  /* 프로젝트 - project.css로 분리*/
  /* 

  /* 디자인 */

  .modal img {
    /* width:40%; */
    max-height: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .modal span {
    right: 100px;
    top: 100px;
  }

  #design .g_nav > ul > li > a {
    font-size: 20px;
    padding: 10px 30px;
  }

  /*    컨택트 박스    */

  #contact {
    margin: 100px auto;
  }

  #contact ul {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-column-gap: 10%;
    position: relative;
  }

  #contact > ul > li > h2 {
    font-size: 60px;
  }

  #contact > ul > li > p {
    font-family: "S-CoreDream-4Regular", "맑은 고딕", "san-serif";
    font-size: 24px;
    line-height: 70px;
  }

  #contact > ul > li .bgbox:first-child {
    top: 8%;
    left: 0;
  }

  #contact > ul > li .bgbox:nth-child(2) {
    top: 4%;
    left: 1%;
  }

  #contact > ul > li .box {
    top: 0;
    left: 2%;
    background-color: #fff;
  }

  @media screen and (max-width: 1300px) {
    .main_title .bgbox,
    .main_title .box {
      width: 70%;
      height: 420px;
    }

    .main_title .box > h1 {
      font-size: 74px;
      padding-top: inherit;
      top: 12vh;
    }

    .main_title .box p {
      font-size: 24px;
      padding-top: 200px;
    }

    .main_title .bgbox:first-child {
      left: 14%;
    }

    .main_title .bgbox:nth-child(2) {
      left: 15%;
    }

    .main_title .box {
      left: 16%;
    }
  }

  /* 
  
        
    }*/
}
